[project]
name = "nlp-class-python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.8",
]

[dependency-groups]
dev = [
    "ruff==0.14.11",
    "ty==0.0.10",
]
